# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# IDE files
.vscode/
.idea/

# OS-generated
.DS_Store
Thumbs.db

# Folders to ignore
slurm/
wandb/

outputs/
models/
data/
logs/